/* App.css */
.App {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: relative;
}

.logo {
  font-weight: bold;
  position: relative;
  right: 48.5em;
}


.navigation a {
  text-decoration: none;
  margin: 0 10px;
  color: #333;
}

.search-bar {
  position: relative;
  left: 48.5em;
}

.maintitle{
  font-weight: bold;
  position: relative;
  right: 48.3em;
}

.main-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px; /* Adjust the max-width as per your design */
}

.book-card {
  width: 60%; /* Adjusted to take more space */
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
}

.book-picture {
  width: 100%;
  height: 200px; /* Adjust height as needed */
  background-color: #f3f3f3;
  margin-bottom: 20px;
}

.book-info h1, .reviewer-name {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.book-info p, .book-review p {
  font-size: 14px;
}

.review-reactions {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.review-reactions button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
}

.book-tags {
  margin-top: 20px;
}

.book-tags span {
  display: inline-block;
  background-color: #efefef;
  padding: 5px;
  margin-right: 5px;
  border-radius: 3px;
}

.activity-feed {
  width: 30%;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
}

.activity-feed h2 {
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }

  .book-card, .activity-feed {
    width: 90%;
  }
}
