/* src/components/RecentActivity.css */
.recent-activity {
    width: 50em;
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 9.5em;
    margin-left: 20px;
  }
  